.card{
    --bs-bg-opacity: .25; 
  }
  
input:focus{
    box-shadow: none !important;
    border-color: white !important;
}

input[type="text"], .input-group-text, input[type="search"]{
    background-color: #525252 !important;
}

/* @media all and (max-width: 320px){
    table{
        transform: scaleX(0.9);
    }
} */

@media all and (min-width:768px) and (max-width:802px){

    /* .sidebar-with_content{
        transform: scaleX(0.95);
    } */
    
    /* .b-divider{
        display: none;
    } */

    /* .main-md{
        transform: scaleX(0.9);
    }  */
}

@media all and (max-width:584px){

    .main-sm{
        transform: scaleX(0.94);
    }
}

@media all and (max-width:488px){

    .main-sm{
        transform: scaleX(0.93);
    }
}

