.card{
    --bs-bg-opacity: .25; 
  }
  
input:focus{
    box-shadow: none !important;
    border-color: white !important;
}

input[type="text"], input[type="number"],input[type="search"]{
    background-color: #525252 !important;
}

    .custom-scrollbar {
        height: 350px;
        position: relative;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        display: block;
    }

@media all and (max-width:584px){
    th:first-child, td:first-child{
        display: none;
    }
    .main-sm{
        transform: scaleX(0.94);
    }
}

@media all and (max-width:500px){

    .main-sm{
        transform: scaleX(0.93);
    }
}

@media all and (max-width: 1092px){
	footer{
		position: relative;
	}
}

@media print {

    body *{
        visibility: hidden;
    }

    .print-content, .print-content *{
        visibility: visible;
        
    }

    table thead tr th:nth-child(6),table tbody tr td:nth-child(6){
        display: none;
    }

    .custom-scrollbar {
        visibility: visible;
        height: max-content;
        width: fit-content;
        position: relative;
        overflow: auto;
    }
    .table-wrapper-scroll-y {
        visibility: visible;
        display: block;
    }
  }