.card{
    --bs-bg-opacity: .25; 
  }
  
input:focus{
    box-shadow: none !important;
    border-color: white !important;
}

input[type="text"], input[type="number"]{
    background-color: #525252 !important;
}
