.card{
    --bs-bg-opacity: .25; 
  }
  
input:focus{
    box-shadow: none !important;
    border-color: white !important;
}

input[type="search"]{
    background-color: #525252 !important;
}

@media all and (max-width:584px){
    th:first-child, td:first-child{
        display: none;
    }
    .main-sm{
        transform: scaleX(0.94);
    }
}

@media all and (max-width:488px){

    .main-sm{
        transform: scaleX(0.93);
    }
}